<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/149/149865.png" />
  <span>Welcome to {{title}}!</span>
  <div class="spacer"></div>
  <a aria-label="Github repository" target="_blank" rel="noopener" href="https://github.com/HadasIsraeli/angular-timer"
    title="Github repository">
    <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/865/865152.png" />
  </a>
  <a aria-label="Hadas Israeli Github" target="_blank" rel="noopener" href="https://github.com/HadasIsraeli"
    title="Hadas Israeli's Github">
    <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/733/733609.png" />
  </a>
  <a aria-label="Hadas Israeli LinkedIn" target="_blank" rel="noopener"
    href="https://www.linkedin.com/in/hadas-israeli/" title="Hadas Israeli's LinkedIn">
    <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/1384/1384014.png" />
  </a>
</div>

<div class="content" role="main">

  <div class="card highlight-card card-small">
    <p>{{timerName}}</p>
    <div class="spacer"></div>
  </div>
  <button (click)='renameTimer(box.value)'>Rename Timer</button>
  <input type="text" #box placeholder="Enter Timer Name" name="Timer" />
  <br />
  <input type="hidden" #selection>

  <div class="card">
    <p>{{time.toTimeString().substr(0,8)}}</p>
  </div>
  <div class="card highlight-card card-small">
    <button (click)='startTimer()'>Start Timer</button>
    <button (click)='pauseTimer()'>Pause</button>
    <button (click)='resetTimer()'>Reset</button>
    <button (click)='stopTimer()'>Stop</button>
  </div>

  <div class="card highlight-card card-small">
    <button (click)='addTimer()'>Add Timer</button>
  </div>
</div>

<div class="card highlight-card card-small">
  <span>History</span>
  <div class="spacer"></div>
  <button (click)='clearHistory()'>Clear History</button>
  <button (click)="exportexcel()">Export to Excel</button>
</div>

<div>
  <th>Name | Date | Start Time - Stop Time | Timer Status</th>
  <tr *ngFor="let history1 of history; let i = index">
    <td class="td">{{history[i].name}}, {{history[i].date}}, {{history[i].timeStartedAt}} - {{history[i].timeStopedAt}}
      | {{history[i].timerStatus}}</td>
  </tr>

  <table id="excel-table">
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>Stop Time</th>
      <th>Timer Status</th>
    </tr>
    <tr *ngFor="let history1 of history; let i = index">
      <th>{{history[i].name}}</th>
      <th>{{history[i].timeStartedAt}}</th>
      <th>{{history[i].timeStopedAt}}</th>
      <th>{{history[i].timerStatus}}</th>
    </tr>
  </table>
</div>